<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SweatShare</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link href="https://fonts.cdnfonts.com/css/kg-payphone" rel="stylesheet" />
    <link rel="stylesheet" href="/dynamicCSS/exercisePrograms/index.css" />
  </head>
  <body>
    <%- include('./../partials/header.ejs', {logo: true, welcomeMsg, signup,
    login, myProfile, id}) %>
    <main>
      <a class="create-workout" href="/exercisePrograms/new"
        >+ CREATE A NEW WORKOUT</a
      >
      <h1>
        <span>
          Discover new exercises made by other users and fitness lovers just
          like YOU! Cardio, flexibility, plyometrics, strength... we have it
          all!!
        </span>
      </h1>
      <h2><span>What will you work out today?</span></h2>
      <aside class="query">
        <h3>Filter and Sort!</h3>
        <div>
          <span>By difficulty: </span>
          <select class="query-difficulty">
            <option value="all">All</option>
            <option value="beginner">Beginner</option>
            <option value="intermediate">Intermediate</option>
            <option value="advanced">Advanced</option>
          </select>
        </div>
        <div>
          <span>By program type: </span>
          <select class="query-program-type">
            <option value="all">All</option>
            <option value="strength">Strength</option>
            <option value="cardio">Cardio</option>
            <option value="power">Power</option>
            <option value="endurance">Endurance</option>
            <option value="flexibility">Flexibility</option>
            <option value="balance">Balance</option>
            <option value="plyometrics">Plyometrics</option>
            <option value="functional">Functional</option>
            <option value="other">Other</option>
          </select>
        </div>
        <div>
          <span>Sort by:</span>
          <select class="query-sort">
            <option value="-createdAt">Newest to Oldest</option>
            <option value="createdAt">Oldest to Newest</option>
            <option value="title">Alphabetical Order A-Z</option>
            <option value="-title">Reverse Alphabetical Order Z-A</option>
          </select>
        </div>
        <button class="submit-query">SUBMIT</button>
      </aside>
      <section class="exercise-container">
        <%exercisePrograms.forEach(program => { %> <%-
        include('./../partials/exerciseCard.ejs', {program, createdByIncluded:
        true}) %> <% })%> <%if(exercisePrograms.length === 0){ %>
        <h2 class="not-found">
          No exercise programs found that match your search. Please try again
        </h2>
        <%}%>
      </section>
    </main>
    <%- include('./../partials/footer.ejs') %>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  ></script>
  <script>
    function logOut(id) {
      fetch(`/sessions`, { method: "DELETE" })
        .then((res) => {
          if (!response.ok) {
            throw new Error("Failed to sign out.");
          }
          window.location.href = "/";
        })
        .catch((err) => {
          console.log(err);
        });
    }

    const queryDifficulty = document.querySelector(".query-difficulty");
    const queryProgramType = document.querySelector(".query-program-type");
    const querySort = document.querySelector(".query-sort");
    const submitQuery = document.querySelector(".submit-query");
    let queryString = "/exercisePrograms?";

    submitQuery.addEventListener("click", (e) => {
      e.preventDefault();
      if (queryDifficulty.value !== "all") {
        queryString += `difficulty=${queryDifficulty.value}&`;
      }
      if (queryProgramType.value !== "all") {
        queryString += `programType=${queryProgramType.value}&`;
      }
      queryString += `sort=${querySort.value}`;

      window.location.href = `${queryString}`;
    });
  </script>
</html>
