<nav>
  <section>
    <%if(logo){%>
    <img src="./../imgs/logo.jpg" />
    <%}%> <%if(welcomeMsg){ %>
    <p><%= welcomeMsg %></p>
    <% }%>
  </section>
  <ul>
    <li><a class="nav-link" href="/about-this-app">ABOUT THIS APP</a></li>
    <%if(login){ %>
    <li><a class="nav-link" href="/sessions/new">LOGIN</a></li>
    <% }%> <%if(signup){ %>
    <li><a class="nav-link" href="/users/new">SIGNUP</a></li>
    <%} %> <%if(myProfile){ %>
    <li><a class="nav-link" href="/users/<%=myProfile._id%>">MY PROFILE</a></li>
    <%} %>
  </ul>
</nav>
