<nav>
  <section>
    <%if(logo){%>
    <img src="./../imgs/logo.jpg" />
    <%}%> <%if(welcomeMsg){ %>
    <p><%= welcomeMsg %></p>
    <% }%>
  </section>
  <ul>
    <li><a class="nav-link" href="#">ABOUT THIS APP</a></li>
    <%if(login){ %>
    <li><a class="nav-link" href="/sessions/new">LOGIN</a></li>
    <% }%> <%if(signup){ %>
    <li><a class="nav-link" href="/users/new">SIGNUP</a></li>
    <%} %> <%if(myProfile){ %>
    <li>
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          MY PROFILE
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="/users/<%=`${id}`%>">VIEW PROFILE</a>
          </li>
          <li>
            <a class="dropdown-item" href="/" onclick="logOut()">SIGN OUT</a>
          </li>
        </ul>
      </div>
    </li>
    <%} %>
  </ul>
</nav>
