* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  font-family: "KG Payphone", sans-serif;
  position: relative;
  background: url("/imgs/dumbellChestPress.jpg");
}

.return-home {
  position: absolute;
  left: 30px;
  top: -60px;
  width: fit-content;
  border: solid black 2px;
  padding: 5px;
  text-decoration: none;
  color: black;
  background-color: rgb(179, 177, 177);
  font-size: 1.3rem;
}

.return-home:hover {
  background-color: black;
  color: white;
  font-style: italic;
}

nav,
footer {
  width: 100%;
  position: fixed;
  z-index: 3;
  background-color: black;
  color: white;
  background: linear-gradient(to right, #800020, #7b0101, #600015);
  text-shadow: 4px 4px 4px black;
}

nav {
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 8%;
  border-bottom: solid black 4px;
}

nav * {
  display: block;
}

nav section {
  gap: 30px;
  display: flex;
}

nav p {
  align-self: center;
  justify-self: center;
  font-size: 2rem;
  margin-left: 10px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-right: 100px;
  font-size: 2.5rem;
}
.nav-link {
  padding: 6px;
}
.nav-link:hover {
  color: black;
  font-style: italic;
  background-color: white;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 3px;
}

.dropdown-toggle {
  font-size: 1.6rem;
}

.dropdown-item {
  font-size: 1.6rem;
  text-shadow: none;
}

main {
  margin: 175px auto;
  width: 85vw;
}

.exercise-program-container {
  display: flex;
  width: 100%;
}

.exercise-program-container section {
  display: flex;
  color: black;
  background-color: #faf9f6;
}

.exercise-program-details {
  width: 55%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: solid black 2px;
}

.exercise-program-details h2 {
  margin-top: 15px;
}

.exercise-program-details p {
  font-size: 1.3rem;
  margin-left: 10px;
  margin-right: 10px;
}

.exercise-container {
  width: 100%;
  margin-bottom: 15px;
}

.exercise-show {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  margin-top: 15px;
}

.exercise-show section {
  width: 40%;
}

.exercise-description {
  display: flex;
  flex-direction: column;
}

.exercise-img {
  margin-right: 15px;
}

.exercise-image img {
  width: 100%;
}

main .edit-form {
  width: 45%;
  border: solid black 2px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.exercise-container {
  display: flex;
  flex-direction: column;
}

.exercise-edit h3 {
  margin-top: 10px;
}

.exercise-edit button {
  width: fit-content;
  align-self: flex-end;
}

.add-exercise {
  display: block;
  width: fit-content;
  margin: auto;
}

.submit-form {
  padding: 15px;
}

.error-message {
  color: red;
  font-weight: bold;
}

footer {
  bottom: 0;
  height: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: solid black 4px;
}
